<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Documents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Documents.Properties.Settings>
            <setting name="CONVERT" serializeAs="String">
                <value>c:\\imm\\convert</value>
            </setting>
        </Documents.Properties.Settings>
    </applicationSettings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
        <add name="SQLite Data Provider" invariant="System.Data.SQLite"
             description=".Net Framework Data Provider for SQLite"           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      </DbProviderFactories>
    </system.data>
    <system.diagnostics>
  <trace autoflush="false" indentsize="4">
    <listeners>
      <remove name="Default" />
      <add name="myListener" 
           type="System.Diagnostics.TextWriterTraceListener" 
           initializeData="C:\Documents and Settings\Administrator\My Documents\Visual Studio 2008\Projects\paprz\paprz.log" />
    </listeners>
  </trace>
</system.diagnostics>
</configuration>